<h2>The Celebrities are: </h2>

<div>


  {{#each celebrities}}
  <a href="/celebrities/celebrity-details/{{ this._id }}">
    <h3> {{ this.name }} </h3>
  </a>

  <a href="/celebrities/edit/{{ this._id}}">Edit this Celebrity</a>

  <form action="/celebrities/{{this._id}}/destroy" method="POST">
    <button>Delete</button>
  </form>



  {{/each}}

</div>