<h2>New Movie</h2>
<form action="/movies/create" method="POST">
    <label for="name">NAME</label>
    <input type="text" name="name" id="name">

    <label for="director">DIRECTOR</label>
    <input type="text" name="director" id="director">

    <label for="image">IMAGE</label>
    <input type="text" name="image" id="image">

    <button> SUBMIT NEW MOVIE </button>

</form>